.resume_editing_container {
    display: flex;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .resume_editing_container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}