.main-container {
  width: 90%;
  margin-bottom: 100px;
  font-family: "Lora", serif !important;
}


@media print {

  .main-container{
    font-family: "Lora", serif !important;
  }

  @page {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .main-container:first-child {
    margin-top: -30px;
  }
  .end_line{
    border: 2px solid black;
    margin-left: 0;
    width: 87% !important;
    position: fixed;
    bottom: -7px;
    display: block !important;
  }
}


.personalInfo {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 15px;
  padding-bottom: 10px;
}

.user_name {
  margin-right: 10px;
}

.end_line {
  display: none;
}

.user_name_h1 {
  margin-bottom: 0;
}

.user_role {
  font-size: 10pt;
}

.user_phone,
.user_email {
  margin-right: 10px,
}

.career_objective {
  padding-top: 10px;
  line-height: 1.5;
}

.subHeading {
  color: rgb(0, 0, 0);
}

.user_data_container {
  display: flex;
}

.leftResume {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-right: 10px;
  border-right: 1px solid rgb(159 159 159);
}

.skills {
  line-height: 1;
}

.user_skill {
  margin: 16px 0;

}

.skill {
  margin: 0 5px,
}

.rightResume {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0 10px;
  margin-top: 0;
}

.projects_list {
  text-align: left;
  line-height: 1.5;
}

.project_name {
  font-weight: 500;
  margin: 0;
}

.project_description {
  margin: 0;
  margin-bottom: 0;
}

.project_link {
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}
