.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: 500;
    font-size: 1rem;
}

input {
    border: 1px solid #c3c3c3;
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;
}

input:hover {
    border: 1px solid #adadad;
}

input:focus {
    border: 1px solid #239ce2;
}



@media (max-width: 600px){
    .label, input {
        font-size: 11pt;
    }
}

@media (max-width: 450px){
    .label, input {
        font-size: 10pt;
    }
}